*
  margin: 0
  padding: 0
  line-height: 1.8rem
  box-sizing: border-box

html
  font-size: 16px

body
  position: relative
  +page__full--no-cush
  +clr__combo--primary
  font-family: 'Ubuntu', Merriweather, Cormorant


// HEADINGS ---------->>
.heading__one
  +heading__one

.heading__two
  +heading__two



// WRAPPERS ---------->>
.wrap__page
  +page__full--cush
  padding-top: 60px

.wrap__copyright
  +page__full--cush
  +box__fixed--bottom
  +clr__combo--primary



// GRID ---------->>
.grid__wrap
  +grid__media--lg

.grid__box
  +column__flex
  +clr__combo--inverse



// TEXT AND FONTS ---------->>
.text__align--media
  +text__align--media
