*
  margin: 0
  padding: 0
  line-height: 1.8rem
  box-sizing: border-box

html
  font-size: 16px

body
  +box__full
  +box_no_cush
  +clr__combo--primary
  font-family: 'Ubuntu', Merriweather, Cormorant

.page__wrap
  +grid__col--one
  padding-top: 10vh

.head__wrap
  grid-column: 1/2
  @media (min-width: 600px)
    grid-column: 1/5


.title__font
  +font__heading--main
  text-align: center
  color: $clr__light

.box__grid--media
  +grid__media--four
  +section__margin-bottom
  +clr__combo--inverse

.box__wrap
  +box__full
  +box__margin-bottom

.box__list
  // +box__full
  // +box__margin-bottom
  +box__padding
  border-bottom: 1px solid $clr__dark
  &:last-child
    margin-bottom: 0
  @media (min-width: 600px)
    min-height: 50vh
    margin: 0
    text-align: left

.box__title
  +font__heading--two
  padding: 5px 10px
  background: #e8e8e8

.box__footer
  +grid__col--one
  +box__margin-bottom
  +clr__combo--primary

.box__text--light
  +clr__combo--primary

.box__text--dark
  +clr__combo--inverse
