@import url("https://fonts.googleapis.com/css?family=Cormorant+Infant|Merriweather|Ubuntu");
/* line 5, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/toolbox/_fonts.sass */
p {
  font-size: 0.8rem;
}
@media (min-width: 600px) {
  /* line 4, ../sass/toolbox/_fonts.sass */
  p {
    font-size: 1rem;
  }
}
@media (min-width: 900px) {
  /* line 4, ../sass/toolbox/_fonts.sass */
  p {
    font-size: 1.2rem;
  }
}

/* line 1, ../sass/partials/_base.sass */
* {
  margin: 0;
  padding: 0;
  line-height: 1.8rem;
  box-sizing: border-box;
}

/* line 7, ../sass/partials/_base.sass */
html {
  font-size: 16px;
}

/* line 10, ../sass/partials/_base.sass */
body {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0;
  color: #f9f9f9;
  background: #333;
  font-family: "Ubuntu", Merriweather, Cormorant;
}

/* line 18, ../sass/partials/_base.sass */
.heading__one {
  font-size: 1.8rem;
  margin-bottom: 5vh;
}
@media (min-width: 600px) {
  /* line 18, ../sass/partials/_base.sass */
  .heading__one {
    font-size: 2.5rem;
  }
}
@media (min-width: 900px) {
  /* line 18, ../sass/partials/_base.sass */
  .heading__one {
    font-size: 3rem;
  }
}

/* line 21, ../sass/partials/_base.sass */
.heading__two {
  font-size: 1.3rem;
  margin-bottom: 3vh;
}
@media (min-width: 600px) {
  /* line 21, ../sass/partials/_base.sass */
  .heading__two {
    font-size: 1.8rem;
  }
}
@media (min-width: 900px) {
  /* line 21, ../sass/partials/_base.sass */
  .heading__two {
    font-size: 2.3rem;
  }
}

/* line 27, ../sass/partials/_base.sass */
.wrap__page {
  width: 96%;
  height: auto;
  margin: 0 auto;
  padding: 0;
  padding-top: 60px;
}

/* line 31, ../sass/partials/_base.sass */
.wrap__copyright {
  width: 96%;
  height: auto;
  margin: 0 auto;
  padding: 0;
  position: fixed;
  bottom: 0;
  padding: 20px 0;
  color: #f9f9f9;
  background: #333;
}

/* line 39, ../sass/partials/_base.sass */
.grid__wrap {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 10px;
  margin-bottom: 30px;
}
@media (min-width: 600px) {
  /* line 39, ../sass/partials/_base.sass */
  .grid__wrap {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 900px) {
  /* line 39, ../sass/partials/_base.sass */
  .grid__wrap {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* line 42, ../sass/partials/_base.sass */
.grid__box {
  display: flex;
  flex-direction: column;
  margin-bottom: 6vh;
  padding: 10px 5px;
  color: #333;
  background: #f9f9f9;
}

/* line 49, ../sass/partials/_base.sass */
.text__align--media {
  text-align: center;
}
@media (min-width: 600) {
  /* line 49, ../sass/partials/_base.sass */
  .text__align--media {
    text-align: left;
  }
}
