@import "compass/reset"

@mixin section__margin--bottom
  margin-bottom: 40px

@mixin section__padding
  padding: 10rem

@mixin box__margin--bottom
  margin-bottom: 20px

@mixin box__padding
  padding: .8rem

@mixin box_wrap-full
  width: 100%
  height: auto

@mixin box_wrap-three_fourths
  width: 75%
  height: auto

@mixin box_wrap-half
  width: 50%
  height: auto

@mixin box_wrap-one_quarter
  width: 25%
  height: auto

@mixin box_no_cush
  margin: 0
  padding: 0

@mixin box_center_cush
  margin: 0 auto
  padding: 1px

@mixin grid__col--one
  display: grid
  grid-template-columns: 1fr
  grid-template-rows: auto

@mixin grid_media_four
  display: grid
  grid-template-columns: 1fr
  grid-template-rows: auto
  @media (min-width: 600px)
    grid-template-columns: repeat(2, 1fr)
  @media (min-width: 900px)
    grid-template-columns: repeat(4, 1fr)
